@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  background-color: white;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* 
*********************************************************************
                    lAYOUT PAGE STYLING + Sidenav
*********************************************************************
********************************************************************* */

main{
  /* background-color: red; */
}

.sidenav-style{
  padding-top: 150px;
  background-color: #EBEBEB;
  margin-top: 0;
}

.nav-links-style{
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.link-style{
  padding-right: 35px;
}

svg.iconify.iconify--icon-park-twotone {
  width: 70px;
  height: 49px;
  padding-left: 11px;;
}

.workflow-studio-link{
  padding-left: 18px;
}

.main-style{
  height: 100vh;
}

/* 
*********************************************************************
                    WORKFLOW PAGE STYLING
*********************************************************************
********************************************************************* */

.workflow-page-style{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 110px;
}

.workflow-card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
}

.add-card-button{
  background-color: #d2d2d2 !important;
  max-width: 260px !important;
  max-height: 160px !important;
  width: 260px !important;
  height: 160px !important;
  margin: 0px !important;
}

.plus-icon{
  margin: 0 auto;
}

.workflow-card-headers{
  text-transform: capitalize;
}

.workflow-card-div{
  width: 260px;
  height: 160px;
  border: none;
}

.workflow-card{
  height: 100%;
  width: 100%;
  border: none;
  background: linear-gradient(0deg, rgba(173,235,209,0.9607492655265231) 0%, rgba(227,227,227,0.9271358201483718) 100%);
  overflow: hidden;
  text-overflow: ellipsis;
}

.workflow-card-description{
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* 
*********************************************************************
                    AGENT PAGE STYLING
*********************************************************************
********************************************************************* */
.agent-page-style{
  display: flex;
  flex-direction: column;
  padding-top: 110px;
}

.row-align{
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

.search-bar{
  width: 65%;
}

.create-new-text{
  font-size: 20px;
  font-weight: bold;
}

.add-agent-button{
  border-radius: 50px;
  color: white;
  background-color: #46FBB4;
}

.create-new-text{
  padding-top: 0.5rem;
}

.agents-container{
  margin-top: 15px;
}

.sorting{
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: space-around;
  margin-left: 0px;
  padding-right: 13%;
}

.sorting-row{
  position: relative;
  right: 2%;
}

.sorting-goal{
  position: relative;
  right: 7%;
}

.sorting-backstory{
  position: relative;
  right: 5%;
}

.sorting-tools{
  position: relative;
  right: 2%;
}

.agent-card-row{
  border: 2px solid #2B2B2B;
  justify-content: space-between;
  background-color: #F7F7F7;
}

.agent-card-img{
  position: relative;
  right: -1%;
}

.agent-card-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  text-align: left;
  font-size: 0.8rem;
  height: 65px;

}

.agent-card-content-role{
  position: relative;
  right: 0%;
  height: 49px;
  width: 106px;
  padding-top: 0px;
  margin-top: -0.8rem;
  margin-bottom: -12px;
}

.agent-card-content-goal{
  position: relative;
  right: -1%;
  overflow: hidden;
  width: 269px;
  height: 55px;
  padding-top: 0px;
  margin-top: -0.8rem;
  margin-bottom: -12px;
}

.agent-card-content-backstory{
  position: relative;
  right: -1%;
  overflow: hidden;
  width: 359px;
  height: 58px;
  padding-top: 0px;
  margin-top: -0.7rem;
  margin-bottom: -12px;
}

.agent-card-content-tools{
  overflow: hidden;
  position: relative;
  right: -1%;
  width: 310px;
  padding: 0px;
  height: 55px;
  margin-top: -0.7rem;
  margin-bottom: -12px;
}



/* 
*********************************************************************
                    WORKFLOW STUDIO PAGE STYLING
*********************************************************************
********************************************************************* */
.workflow-studio-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.agent-card-container {
  position: relative;
  margin-bottom: 20px;
}

.agent-card {
  background-color: white;
  border: 2px solid #00ffcc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 641px;
  position: relative;
}

.remove-agent-card-button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.remove-agent-card-icon {
  background-color: #d92f2f;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.line {
  width: 2px;
  height: 28px;
  background-color: #00ffcc;
  position: absolute;
  left: 50%;
  bottom: -27px;
  transform: translateX(-50%);
}

.add-agent-card-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}


.add-agent-card-icon {
  background-color: #00ffcc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
